# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Visual Studio
.vs/
*/obj/*
*.iobj
*.ipdb
*.pdb
*.filters
*.log
*.tlog
*.vcxproj.user
*.exe.recipe
*.FileListAbsolute.txt

# Python

*/__pycache__/*

# Unreal

*.udatasmith
*_Assets/

# SCANeR

*vehicleModeRef.sce
*scenarioModeRef.sce
data/*/record/*
*.sivr
*.sifr