;maximum yaw of the physical yaw table (°)
maxYawTableAngle=155



;maximum yaw speed of the yaw table (°/s)
maxYawTableSpeed=45

;yaw table angle above which the maximum yaw speed is reduced (°)
yawAngleBeginAttenuation=130

restitutionScale=1.0

;under this angle, there is no yaw centering (°)
yawAngleNoCentering=60

;above this value, yaw centering is done at maximum speed (°)
yawAngleMaxCentering=100

;yaw centering speed (°/s)
yawCenteringSpeed=6
