log=0
minimizeMintCom=1
mintComFrequency=100.0
;front controller
host0=192.168.100.1
;rear controller
host1=192.168.100.2
;Y controller
host2=192.168.100.3

;the geometry of the seat
SeatLength=0.270
LeverRadius=0.030
LateralLeverRadius=0.030
GearRatio=49.0
