version = 1.0

[OCEAN]

;Subdirectory from ..terrain\ocean\
CubeMapSubDir = sky_fair_cloudy

;Geometry draw for reflect on ocean from ..terrain
;ReflectedGeometry = LAKECITY_Buildings.IVE

;CellCount = 64
;CellCount = 32
;TileSize = 256
;TileSize = 128
;WaveScale = 0.00000001
;IsChoppy = false
;ChoppyFactor = -2.5
;EnableCrestFoam = false
;CrestFoamHeight = 2.2
;FoamBottomHeight = 2.2
;FoamTopHeight = 3.0
;CycleTime = 10.0
;AnimFrameCount = 256
