;positionDevice.cfg
version		= 1.0

[Device 0] 
;Default device for motion compensation

basePosOffset.x		= 0.0
basePosOffset.y		= 0.0
basePosOffset.z		= 0.0
baseRotOffset.h		= 0.0 
baseRotOffset.p		= 0.0
baseRotOffset.r		= 0.0

trackerPosOffset.x	= 0.0 
trackerPosOffset.y	= 0.0
trackerPosOffset.z	= 0.0
trackerRotOffset.h	= 0.0 
trackerRotOffset.p	= 0.0
trackerRotOffset.r	= 0.0
deviceId		= 0
moveRelativeToScreen = true
moveInVirtualWorld = false

;Oculus rift
[Device 1] 

basePosOffset.x		= 0.0
basePosOffset.y		= 0.0
basePosOffset.z		= 0.0
baseRotOffset.h		= 0.0 
baseRotOffset.p		= 0.0
baseRotOffset.r		= 0.0

trackerPosOffset.x	= 0.0 
trackerPosOffset.y	= 0.0
trackerPosOffset.z	= 0.0
trackerRotOffset.h	= 0.0 
trackerRotOffset.p	= 0.0
trackerRotOffset.r	= 0.0
deviceId		= 0
moveRelativeToScreen = false
moveInVirtualWorld = true

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;HTC Vive Left eye
[Device 2] 

basePosOffset.x		= 0.0
basePosOffset.y		= 0.0
basePosOffset.z		= 0.0
baseRotOffset.h		= 0.0 
baseRotOffset.p		= 0.0
baseRotOffset.r		= 0.0

trackerPosOffset.x	= 0.0 
trackerPosOffset.y	= 0.0
trackerPosOffset.z	= 0.0
trackerRotOffset.h	= 0.0 
trackerRotOffset.p	= 0.0
trackerRotOffset.r	= 0.0
deviceId		= 2
moveRelativeToScreen = false
moveInVirtualWorld = true

;HTC Vive Right eye
[Device 3] 

basePosOffset.x		= 0.0
basePosOffset.y		= 0.0
basePosOffset.z		= 0.0
baseRotOffset.h		= 0.0 
baseRotOffset.p		= 0.0
baseRotOffset.r		= 0.0

trackerPosOffset.x	= 0.0 
trackerPosOffset.y	= 0.0
trackerPosOffset.z	= 0.0
trackerRotOffset.h	= 0.0 
trackerRotOffset.p	= 0.0
trackerRotOffset.r	= 0.0
deviceId		= 3
moveRelativeToScreen = false
moveInVirtualWorld = true

