[OfflineScheduler]

SCENARIO = 0 20
TRAFFIC = 1 20
MODELHANDLER = 2 500
ACQUISITION = 3 500
VISUAL = 4 20
RECORD = 5 -1
TRAFFICTOOLS = 6 20
WALKERTRAFFIC = 7 20
PHYSICS = 9 62
SOUND = 18 30
CONTROLPAD = 19 20
DASHBOARD = 20 100
[Options]
RealTimeRatio = 0
;Module time out in milli seconds
TimeOut = 3000

