[OfflineScheduler]

SCENARIO = 0 20
TRAFFIC = 1 20
MODELHANDLER = 2 500
ACQUISITION = 3 500
VISUAL = 4 20
RECORD = 5 -1
TRAFFICTOOLS = 6 20
WALKERTRAFFIC = 7 20
PHYSICS = 9 62
AFSMANAGER = 14 100
SENSORS = 15 100
SOUND = 18 30
VISUAL_HL = 19 20
CONTROLPAD = 20 20
DASHBOARD = 21 100
NIGHTTESTMANAGER = 22 100
[Options]
RealTimeRatio = 0
;Module time out in milli seconds
TimeOut = 3000

