; Utilisation de la planche de calibration CARDS2
nbRefPoint=3
cockpitName=noCockpit
[RefPoint 0]
name=Repère XYZ, Z vers le haut, X vers l'avant et Y vers la gauche. Positionez le capteur au point (X,Y,Z) = (0,0,-0.18) (données en m)
position.x=0.5
position.y=0.0
position.z=0.02
[RefPoint 1]
name=Positionez le capteur au point (X,Y,Z) = (0.25,0,-0.18) (données en m)
position.x=0.5
position.y=0.5
position.z=0.02
[RefPoint 2]
name=Positionez le capteur au point (X,Y,Z) = (0.1,-0.3,0,-0.18) (données en m)
position.x=0.25
position.y=0.0
position.z=0.02

