
;write csv log to "%TEMP%/D-BOXLog.csv"
enableLogging=0

;Default mode for 3DOF motion: useHardcodedStrategy=0
;Debug mode:  useHardcodedStrategy=1 (to be used with defaultStrategy to force direct vehicle pitch/roll)
useHardcodedStrategy=0

;frequency the buffer needs to be filled at (Hz)
targetFrequency = 400
;allowed range of the frequency to adjust for being late/early at filling the buffer
;default settings allow a frequency variation between 399 and 401
frequencyRange = 50

;each element of the buffer lasts 1/400 seconds
minBufferSize = 10
maxBufferSize = 50

; SCANeR strategy output max amplitude (3DOF) in Radians
; Depends on geometry (actuator longitudinal and lateral distance)
; maxHeave(m)=50% of total actuator stroke (0.0175 m by default)
; maxRoll(rad)=atan(2*maxHeave/latDist) (atan(2*0.0175/0.73)= 0.0479 rad by default)
; maxPitch(rad)=atan(2*maxHeave/longDist) (atan(2*0.0175/0.98)= 0.0357 rad by default)#Valeurs SE2
;maxRoll = 0.0323079
;maxPitch = 0.020742809
;maxHeave = 0.055

;Valeurs SE2x10 pour test
;maxRoll = 0.323079
;maxPitch = -0.20742809
;maxHeave = 0.55

;Valeurs OKTAL 3in
maxRoll = 0.0323079
maxPitch = 0.020742809
maxHeave = 0.0381

;-----------------
; Scaling features
;-----------------

;Gain values are in dB.
;Value should be between -60dB and +20dB: 0dB being normal signal.
;Values lower than -60 means no effect, use -999 for explicit mute.

; Stroke amplitude reduction (0dB by default)
MasterSpectrum=0

; Motion control output gain (0dB by default)
MasterGain=0

;-----------------------
; D-Box Special effects
;-----------------------
;only used if AppKey=OktalDevSimRaw
fcRoll=100
fcPitch=100
fcHeave=100
