[Common]
;mode = BIOPACK, ANT
mode=BIOPACK

; BIOPACK PARAMETERS
[BIOPACK]

;sample to use with demo_data
;template=sinewave.gtl
;calc_0 = 20
template=basic-acquisition.gtl
analog_0=20
;template=demo_acq_all.gtl
;analog_0=20
;analog_2=21
;analog_3=22
;analog_9=23
;calc_0=24
;calc_1=25
;calc_2=26

; ANT PARAMETERS
[ANT]

;USBNum: 	USB Device Number (0 for first USB stick plugged and so on)
;			If not specified on command line, 0xFF is passed in as invalid.
USBNum=0

; ONLY ONE CHANNEL SUPPORTED
[ANT:Channel:0]
;deviceNumber : The id of the device
deviceNumber = 0

;deviceType: The type of pulse rate
deviceType = 0

;exportChannel: send the pulse rate on an export channel
exportChannel = 100

;[ANT:Channel:1]

;[ANT:Channel:2]

;[ANT:Channel:3]

;[ANT:Channel:4]

;[ANT:Channel:5]

;[ANT:Channel:6]

;[ANT:Channel:7]