; Type of acquisition, supported models:
; NO CARD
; CAMERA (IP cameras or webcams)
FramegrabberModel = CAMERA

; Number of video channels
; CAMERA: [1,N], Max number of channels is limited by USB bandwidth (Max 2 webcams by USB2 controller)
NumChannel = 1

; Master channel
MasterChannel = -1

; Synchronise video replay with recorder
Sync = ON

; Display Mode
; MULTIPLE: One window per channel
; SINGLE: One splitted window for all channels
DisplayMode = SINGLE

; =============== CAMERA ONLY =====================
;
; CODEC:
; PIM1 = MPEG-1 codec
; MJPG = motion-jpeg codec (does not work well)
; MP42 = MPEG-4.2 codec
; DIV3 = MPEG-4.3 codec
; DIVX = MPEG-4 codec
; U263 = H263 codec
; I263 = H263I codec
; FLV1 = FLV1 codec 
;
Channel_0 = 0
ChannelKind_0 = DSHOW
ChannelFPS_0 = 25
ChannelWidth_0 = 640
ChannelHeight_0 = 480
ChannelOffset_0 = 0
ChannelCodec_0 = DIVX (MPEG-4 codec)
