[OfflineScheduler]

SCENARIO = 0 100
TRAFFIC = 1 20
MODELHANDLER = 2 500
ACQUISITION = 3 500
VISUAL = 4 20
RECORD = 5 -1
TRAFFICTOOLS = 6 20
WALKERTRAFFIC = 7 20
PHYSICS = 8 62
UXDRENDER = 9 20
SOUND = 10 20
CONTROLPAD = 11 20
DASHBOARD = 12 100
MODELHANDLER1 = 13 500
MOTION = 14 100
RT_GATEWAY = 15 100
SENSORS = 16 100
GPSSENSOR = 17 62
CAMERA = 18 20
EYETRACKER = 19 100
[Options]
RealTimeRatio = 0
;Module time out in milli seconds
TimeOut = 3000

