; Example urenderer.cfg for 1 pipes windows and 1 channel.
; It configured to work on one 1920x1080 screen
; Window position origin is the top-left corner of the screen.
; Only one pipe is supported for now. It is possible to set as many channels as needed.
; All Common values are defaults

version 					= 1.0

[Common]
;Low, Medium, High, Epic, Cinematic.
Quality = Epic

;on, off
EyeAdaptation = on

;==============================================
;=
;=             URENDERER by Default
;=                   URENDERER
;=
;==============================================
[URENDERER]
; Only one pipe is supported for now
NbPipes			= 1
VehicleId		= 0
NearPlane					= 1.0
VolumetricCloud = on

[URENDERER:1]
; Origin is top-left corner
Position		= 0 0
;Resolution		= 3840 2160
Resolution		= 1920 1080
;Resolution		= 1280 720
NbChannels		= 1

[URENDERER:1.1]
; 0 : Driver vehicle hidden, 1 : exterior vehicle visible, 4 Driver vehicle visible
ViewMode		=	0
PositionOffset			= 0.0 0.0 0.0
RotationOffset			= 0.0 0.0 0.0
ScreenTop 		=	0.1962
ScreenBottom 	=	-0.1966
ScreenRight 	=	0.4065
ScreenLeft 		=	-0.2935
ScreenDist 		=	0.9808
ViewportTop			= 1.0
ViewportBottom		= 0.0
ViewportRight		= 1.0
ViewportLeft		= 0.0
; [0, +inf] Good values are between [0, 1]
;LensFlareIntensity = 0.1
; [0,1]
;MotionBlurAmount = 0.025
;[0,100]
;MotionBlurMax = 0.25
; [-15,15]
;EVCompensation = 0.0
;[0,2]
;Contrast = 1.0
;[0,2]
;Saturation = 1.0
;{0,2]
;Gamma = 1.0

;==============================================
;=
;=             CAMERASENSOR for camera sensor tests
;=                   CAMERASENSOR
;=
;==============================================
[CAMERASENSOR]
; Only one pipe is supported for now
NbPipes			= 1
VehicleId		= 0

[CAMERASENSOR:1]
Position		= 0 0
;Resolution		= 3840 2160
Resolution		= 1920 1080
;Resolution		= 1280 720
NbChannels		= 1
;BorderDecoration = on

[CAMERASENSOR:1.1]
ViewMode		=	1
PositionOffset			= 0.0 0.0 0.0
RotationOffset			= 0.0 0.0 0.0
ScreenTop 		=	0.1962
ScreenBottom 	=	-0.1966
ScreenRight 	=	0.4065
ScreenLeft 		=	-0.2935
ScreenDist 		=	0.9808
ViewportTop			= 1.0
ViewportBottom		= 0.0
ViewportRight		= 1.0
ViewportLeft		= 0.0

; Configuration for camera id 0100000
[CAMERASENSOR:0100000]
Position		= 1000 0

;==============================================
;=
;=          URENDERER for Triple Head
;=              URENDERER_TRIPLEHEAD
;=
;==============================================
[URENDERER_TRIPLEHEAD]
; Only one pipe is supported for now
NbPipes 			= 1
PositionDeviceId 	= 0
ViewMode 			= 0
VehicleId 			=	0
VolumetricCloud     = off

[URENDERER_TRIPLEHEAD:1]
Position 	=	0	100
;Resolution	=	11520	2160
;Resolution	=	5760	1080
Resolution	=	3840	720
;BorderDecoration = on

; To desactivate rearviewmirrors, set to 3 channels
; To activate central rearviewmirror, set to 4 channels
; To activate side rearviewmirrors, set to 6 channels;
NbChannels =	6

; ------------ FRONT CENTRAL VIEW ------------- 
[URENDERER_TRIPLEHEAD:1.1]
PositionOffset 	=	0	0	0.0
RotationOffset 	=	0	0	0
ScreenTop 		=	0.1962
ScreenBottom 	=	-0.1966
ScreenRight 	=	0.4065
ScreenLeft 		=	-0.2935
ScreenDist 		=	0.9808
ViewportTop 	=	1
ViewportBottom 	=	0
ViewportLeft 	=	0.333333333
ViewportRight 	=	0.666666666

; ------------ FRONT RIGHT VIEW ------------- 
[URENDERER_TRIPLEHEAD:1.2]
PositionOffset 	=	0	0	0
RotationOffset 	=	50	0	0
ScreenTop 		=	0.1962
ScreenBottom 	=	-0.1966
ScreenRight 	=	0.536
ScreenLeft 		=	-0.164
ScreenDist 		=	0.8793
ViewportTop 	=	1
ViewportBottom 	=	0
ViewportLeft 	=	0
ViewportRight 	=	0.333333334

; ------------ FRONT LEFT VIEW ------------- 
[URENDERER_TRIPLEHEAD:1.3]
PositionOffset 	=	0	0	0
RotationOffset 	=	-50	0	0
ScreenTop 		=	0.1962
ScreenBottom 	=	-0.1966
ScreenRight 	=	0.2371
ScreenLeft 		=	-0.463
ScreenDist 		=	0.9649
ViewportTop 	=	1
ViewportBottom 	=	0
ViewportLeft 	=	0.666666666
ViewportRight 	=	1

; --------- MAIN REARVIEW MIRROR ----------- 
[URENDERER_TRIPLEHEAD:1.4]
ViewMode		=	4
NearPlane 		=	0.5
Resolution 		= 480 133
Position 		= 1861 800
PositionOffset	=	0.763364	-0.4	0
RotationOffset	=	180	0	0
ScreenTop		=	0.026
ScreenBottom	=	-0.046
ScreenRight		=	0.12
ScreenLeft		=	-0.12
ScreenDist		=	0.453364
ViewportTop 	= 0.98
ViewportBottom 	=	0.857407
ViewportRight 	= 0.666
ViewportLeft 	=	0.583333
Mirror			=	on

; --------- RIGHT REARVIEW MIRROR ----------- 
[URENDERER_TRIPLEHEAD:1.5]
ViewMode		=	4
NearPlane 		=	0.34
Position		=	1040 100
Resolution		=	120 90
PositionOffset	=	0.85	-1.185	-0.26
RotationOffset	=	180	0	0
ScreenTop		=	0.036
ScreenBottom	=	-0.036
ScreenRight		=	0.02
ScreenLeft		=	-0.14
ScreenDist		=	0.343121
ViewportTop 	=	0.25
ViewportBottom 	=	0.05
ViewportLeft 	=	0.92
ViewportRight 	=	0.99
Mirror			=	on

; --------- LEFT REARVIEW MIRROR ----------- 
[URENDERER_TRIPLEHEAD:1.6]
ViewMode		=	4
NearPlane 		=	0.34
Position		=	3670 100
Resolution 		=	120 90
PositionOffset	=	0.85	0.335	-0.26
RotationOffset	=	180	0	0
ScreenTop		=	0.036
ScreenBottom	=	-0.036
ScreenRight		=	0.14
ScreenLeft		=	-0.02
ScreenDist		=	0.343121
ViewportTop 	=	0.25
ViewportBottom 	=	0.05
ViewportLeft 	=	0.12
ViewportRight 	=	0.19
Mirror			=	on
