; LampControlPlugin.cfg
; this configuration file defines a list of LampControl plugins
;
; these plugins should be in data/plugins/headlightMgr directory
;
; win32 plugins
HeadlightMgrPlugin = HeadlightMgrOktalPlugin.dll
; renaultPlugin.dll
; oktalPlugin.dll


